body {
    background-color: #FFFFFF;
}

button {
    background-color: #FCA311;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

header {
    background-color: #14213D;
    margin-top: 0px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-book {
    display: block;
    margin: auto;
    margin-top: 5vh;
}

#submit-button {
    margin-top: 5vh;
}

#display {
    display: flex;
    flex-wrap: wrap;
    }

.cards {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-grow: 1;
    align-items: start;
    background-color: #FCA311;
    border-radius: 5%;
}

h1 {
    text-align: center;
    margin-top: 0px;
    color: #FFFFFF;
}

h2 {
    align-self: center;
}

.del-buttons, .change-buttons {
    background-color: #14213D;
    color: #FFFFFF;
}